@import "../variables";

.chatBox {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
  margin: 0 auto;
  position: relative;
  top: 0;
  height: 100%;

  @media (min-width: 769px) {
    top: 19px;
    height: calc(100% - 38px);
  }

  :global(.panel) {
    margin: 0;
    height: 100%;

    @media (max-width: 768px) {
      border: none;
    }

    :global(.panel-body) {
      padding: 12px 6px;
      height: calc(100% - 70px);
      background-color: $chatbox-body-bg;
      .message {
        background-color: $message-bg;
        color: $message-color;

        padding: 6px 12px;
        margin: 2px 14px;

        border: none;
        border-radius: 7px;

        box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);

        word-break: break-all;
        word-wrap: break-word;

        display: block;
        clear: both;
        float: left;

        &:first-child, &:last-child {
          border-radius: 7px;
        }

        .handle {
          font-size: 17px;
          font-weight: 600;
          margin: 0;
          line-height: inherit;
        }

        .content {
          font-size: 15px;
          //letter-spacing: 0.02em;
        }

        .timestamp {
          margin-left: 10px;
          font-size: 10px;
          word-wrap: normal;
          word-break: keep-all;
          color: $timestamp-color;
        }
      }

      .ownMessage {
        @extend .message;
        background-color: $own-message-bg;
        float: right;
      }
    }

    :global(.panel-footer) {
      overflow: hidden;
      background-color: $message-field-bg;
      .sendButton {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
        border: none;
        border-radius: 3px;
        background-color: $send-btn-bg;
        color: $send-btn-color;
      }
    }
  }

  :global(.form-control) {
    border: none;
    box-shadow: none;
  }
}

.connectionWrapper {
  text-align: center;
  padding: 15px;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: .3rem solid rgba(black, 0.2);
    border-top-color: black;
    animation: spin 1s infinite linear;
  }

  .connectionTextWrapper {
    display: block;
    padding-top: 20px;

    span {
      display: inline-block;
    }
    .elipsis {
      display: inline-block;
      width: 10px;
      text-align: left;
    }
    .elipsis:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      animation: ellipsis steps(4, end) 2s infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0;
    }

    @keyframes ellipsis {
      to {
        width: 20px;
      }
    }
  }
}
